In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

C:\Users\rutvi\AppData\Local\Programs\Python\Python39\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\rutvi\AppData\Local\Programs\Python\Python39\lib\site-packages\numpy\.libs\libopenblas.EL2C6PLE4ZYW3ECEVIV3OXXGRN2NRFM2.gfortran-win_amd64.dll
C:\Users\rutvi\AppData\Local\Programs\Python\Python39\lib\site-packages\numpy\.libs\libopenblas.XWYDX2IKJW2NMTWSFYNGFUWKQU3LYTCZ.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:"
<frozen importlib._bootstrap>:228: RuntimeWarning: scipy._lib.messagestream.MessageStream size changed, may indicate binary incompatibility. Expected 56 from C header, got 64 from PyObject

In [2]:
engagement = pd.read_csv('takehome_user_engagement.csv')
engagement.head()

            time_stamp  user_id  visited
0  2014-04-22 03:53:30        1        1
1  2013-11-15 03:45:04        2        1
2  2013-11-29 03:45:04        2        1
3  2013-12-09 03:45:04        2        1
4  2013-12-25 03:45:04        2        1

In [3]:
#total logins
engagement.shape

(207917, 3)

In [4]:
#Total users
engagement['user_id'].nunique()

8823

In [5]:
engagement.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207917 entries, 0 to 207916
Data columns (total 3 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   time_stamp  207917 non-null  object
 1   user_id     207917 non-null  int64
 2   visited     207917 non-null  int64
dtypes: int64(2), object(1)
memory usage: 4.8+ MB

In [6]:
#converrting time_stamp to datetime
engagement['time_stamp'] = pd.to_datetime(engagement['time_stamp'])

In [7]:
engagement.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207917 entries, 0 to 207916
Data columns (total 3 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   time_stamp  207917 non-null  datetime64[ns]
 1   user_id     207917 non-null  int64
 2   visited     207917 non-null  int64
dtypes: datetime64[ns](1), int64(2)
memory usage: 4.8 MB

In [8]:
engagement['time_stamp'] = engagement['time_stamp'].drop_duplicates()

In [9]:
engagement.shape

(207917, 3)

In [10]:
engagement.sort_values('time_stamp', inplace=True)
engagement.head()

                time_stamp  user_id  visited
178140 2012-05-31 08:20:06    10012        1
59486  2012-05-31 15:47:36     3428        1
175638 2012-05-31 17:19:37     9899        1
26821  2012-05-31 21:58:33     1693        1
109716 2012-06-01 00:17:30     6102        1

In [11]:
engagement.reset_index(inplace=True, drop=True)
engagement.head()

           time_stamp  user_id  visited
0 2012-05-31 08:20:06    10012        1
1 2012-05-31 15:47:36     3428        1
2 2012-05-31 17:19:37     9899        1
3 2012-05-31 21:58:33     1693        1
4 2012-06-01 00:17:30     6102        1

In [12]:
engagement['user_id'].nunique()

8823

In [13]:
total_logins = engagement['time_stamp'].nunique()
print("total logins :" + str(total_logins))

total logins :207220

In [15]:
engagement['time_stamp'] = pd.to_datetime(engagement['time_stamp'])

In [16]:
engagement.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207917 entries, 0 to 207916
Data columns (total 3 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   time_stamp  207220 non-null  datetime64[ns]
 1   user_id     207917 non-null  int64
 2   visited     207917 non-null  int64
dtypes: datetime64[ns](1), int64(2)
memory usage: 4.8 MB

In [17]:
engagement = engagement.drop_duplicates()
engagement.head()

           time_stamp  user_id  visited
0 2012-05-31 08:20:06    10012        1
1 2012-05-31 15:47:36     3428        1
2 2012-05-31 17:19:37     9899        1
3 2012-05-31 21:58:33     1693        1
4 2012-06-01 00:17:30     6102        1

In [18]:
engagement['date'] = engagement['time_stamp'].dt.date
engagement['date'].head()

0    2012-05-31
1    2012-05-31
2    2012-05-31
3    2012-05-31
4    2012-06-01
Name: date, dtype: object

In [19]:
engagement = engagement.sort_values('date')
engagement.head()

           time_stamp  user_id  visited        date
0 2012-05-31 08:20:06    10012        1  2012-05-31
1 2012-05-31 15:47:36     3428        1  2012-05-31
2 2012-05-31 17:19:37     9899        1  2012-05-31
3 2012-05-31 21:58:33     1693        1  2012-05-31
4 2012-06-01 00:17:30     6102        1  2012-06-01

In [20]:
from datetime import timedelta

def login_week(df, days=7, logins=3):

    logins_days3 = engagement['date'].diff(periods=logins-1)
    
    result = logins_days3 <= timedelta(days=days)
    return result

In [21]:
user_visit = engagement.groupby('user_id').sum()
user_visit.head()

         visited
user_id
1              1
2             14
3              1
4              1
5              1

In [22]:
adopted_user = user_visit.apply(login_week)

TypeError: unsupported operand type(s) for -: 'NaTType' and 'datetime.date'

In [23]:
users = pd.read_csv('takehome_users.csv', encoding='latin-1')
users.head()

,object_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id
0,1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,1.398139e+09,1,0,11,10803.0
1,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0
2,3,2013-03-19 23:14:52,Bottrill Mitchell,MitchellBottrill@gustr.com,ORG_INVITE,1.363735e+09,0,0,94,1525.0
3,4,2013-05-21 08:09:28,Clausen Nicklas,NicklasSClausen@yahoo.com,GUEST_INVITE,1.369210e+09,0,0,1,5151.0
4,5,2013-01-17 10:14:20,Raw Grace,GraceRaw@yahoo.com,GUEST_INVITE,1.358850e+09,0,0,193,5240.0

In [24]:
users.shape

(12000, 10)

In [25]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12000 entries, 0 to 11999
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   object_id                   12000 non-null  int64
 1   creation_time               12000 non-null  object
 2   name                        12000 non-null  object
 3   email                       12000 non-null  object
 4   creation_source             12000 non-null  object
 5   last_session_creation_time  8823 non-null   float64
 6   opted_in_to_mailing_list    12000 non-null  int64
 7   enabled_for_marketing_drip  12000 non-null  int64
 8   org_id                      12000 non-null  int64
 9   invited_by_user_id          6417 non-null   float64
dtypes: float64(2), int64(4), object(4)
memory usage: 937.6+ KB

NameError: name 'adopted_user' is not defined